# Docker local (docker compose up -d)
DB_HOST=localhost
DB_PORT=3307
DB_USER=ticketing_user
DB_PASSWORD=ticketing_pass
DB_NAME=ticketing_db

# Servidor compartido de la cátedra (reemplazar con credenciales reales)
# DB_HOST=<host_catedra>
# DB_PORT=3306
# DB_USER=ic_g5_admin
# DB_PASSWORD=<password>
# DB_NAME=ticketing_db

JWT_SECRET_KEY=change_me_in_production
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
